name: Install packages with Insatllation-bot-v2

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: action
    steps:
      - name: Build repo, and add packages through checkout.
        uses: actions/checkout@v6
        with:
          sparse-checkout: action
          sparse-checkout-cone-mode: true
          checkout-insert-package: true
